:root{
    --pokeblack: #000;
    --pokered: #9A2123;
    --pokeorange: #DE4E33;
    --pokegreen: #1D5C0D;
    --pokegray: #38413A;
    --pokegraylight: #768075;
    --pokeblue: #196F9D;
    --pokebluelight: #9FE0FD;
}